// @import "https://fonts.googleapis.com/css?family=Raleway:400,500,900";
@font-face {
  font-family: 'SimploW00-Black';
  src: url(./assets/fonts/SimploW00-Black.eot?#iefix) format('embedded-opentype'), url(./assets/fonts/SimploW00-Black.woff) format('woff'), url(./assets/fonts/SimploW00-Black.ttf) format('truetype'), url(./assets/fonts/SimploW00-Black.svg#SimploW00Black) format('svg');
  font-weight: 400;
  font-style: normal;
}