<%= _.template(require('./../includes/header.html'))([]) %>

<section class="contact-page" id="contact-page">
    <div class="container clearfix">

        <div class="container-small clearfix">
            <div class="block-title bte wow draw fadeInDown  btb-active"
                 style="visibility: visible; animation-name: fadeInDown;">
                <div class="title">Контакты</div>
                <p>Альтер Эго Групп</p>
            </div>
            <div class="contact-tag wow fadeInUpSmall" style="visibility: visible; animation-name: fadeInUpSmall;">
                <h2>Альтер Эго Групп is full of <br>ideas &amp; creative power</h2>
                <p>Where we seek the perfect balance <br>between ideas &amp; designs.</p>
            </div>
        </div>

        <div class="contact-page-minsk wow fadeInUpSmall"
             style="visibility: visible; animation-name: fadeInUpSmall;"></div>

        <div class="container-medium clearfix">
            <div class="office-location wow fadeInUpSmall" style="visibility: visible; animation-name: fadeInUpSmall;">
                <h3>Наш офис</h3>
                <div>
                    <address>
                        <h4>Альтер Эго Групп</h4>
                        Республика Беларусь,<br>город Минск,<br>пр-т Независимости 58/402.
                    </address>
                    +375 17 290-25-26<br>
                    <a href="mailto:info@alterego.by" title="">info@alterego.by</a>
                </div>
            </div>
            <a href="#" target="_blank" class="office-on-map wow fadeInUpSmall" data-wow-delay="0.1s" title=""
               style="visibility: visible; animation-delay: 0.1s; animation-name: fadeInUpSmall;">
                <div class="office-on-map_icon">
                    <svg class="office-on-map_icon_location">
                        <use xmlns:xlink="http://www.w3.org/1999/xlink"
                             xlink:href="./images/svg/location.svg#location"></use>
                    </svg>
                    <svg class="office-on-map_icon_logo">
                        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="./images/svg/alterego-logo.svg#logo"></use>
                    </svg>
                </div>
                <br><br>
                <h3>Найти нас на карте</h3>
                <p>We are available for work!</p>
            </a>
        </div>
    </div>
</section>

<%= _.template(require('./../includes/contact-form.html'))([]) %>

<%= _.template(require('./../includes/footer.html'))([]) %>