<%= _.template(require('./../includes/header.html'))([]) %>

<section class="clearfix">
    <section class="project-detail" id="project-detail">
        <div class="project-detail-wrapper">
            <div class="project-photo">
                <img alt="" src="./images/event/photo.jpg">
                <div class="container">
                    <div class="container-small clearfix">
                        <div class="block-title bte draw wow fadeInDown  btb-active"
                             style="visibility: visible; animation-name: fadeInDown;">
                            <div class="title">Work / <br>development</div>
                            <p>Our clients really <br>value our work</p>
                        </div>
                        <div class="project-title wow fadeIn" style="visibility: visible; animation-name: fadeIn;">
                            <h2>Capelo</h2>
                            <h3>Magento - e-commerce</h3>
                            <a href="http://www.capelo.gr/" target="_blank">Visit live</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="project-details-inner">
                <div class="project-content">
                    <div class="container">
                        <div class="container-medium clearfix">
                            <h2 class="wow fadeInUp" style="visibility: visible; animation-name: fadeInUp;">Hats with
                                the <br>taste...</h2>
                            <div class="project-service wow fadeInUp" data-wow-delay="0.5s"
                                 style="visibility: visible; animation-delay: 0.5s; animation-name: fadeInUp;">
                                <h4>Technology</h4>
                                <ul>
                                    <li>Custom Development</li>
                                    <li>User interface / UX</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="project-photo2">
                    <div class="container clearfix wow fadeInUp" style="visibility: visible; animation-name: fadeInUp;">
                        <ul>
                            <li class="wow fadeInUp" style="visibility: visible; animation-name: fadeInUp;">
                                <img alt="Design and Development" src="./images/event/photo2.jpg">
                            </li>
                        </ul>
                    </div>
                </div>

                <div class="project-content wow fadeInUp" style="visibility: hidden; animation-name: none;">
                    <div class="container">
                        <div class="container-medium clearfix">
                            <h4>Capelo.gr is an e-shop with a large selection of hats,
                                jockeys, <br>beanies and accessories for every style.</h4>
                            <p>Famous brands at the best prices in an e-shop with
                                easy navigation, <br>fast search engine and advanced filters.</p>
                        </div>
                    </div>
                </div>

                <div class="project-screen">
                    <div class="container">
                        <div class="container-medium clearfix ">
                            <img alt="Design and Development" class="wow fadeIn"
                                 src="./images/event/screen.jpg"
                                 style="visibility: hidden; animation-name: none;">
                        </div>
                    </div>
                </div>
                <div class="project-laptop">
                    <div class="container">
                        <div class="container-medium clearfix">
                            <div class="project-laptop-background">
                                <img alt="Design and Development" class="wow fadeIn"
                                     src="./images/event/laptop-background.jpg"
                                     style="visibility: hidden; animation-name: none;">
                            </div>
                            <img alt="Design and Development" class="wow fadeInUp"
                                 src="./images/event/laptop.png"
                                 style="visibility: hidden; animation-name: none;">
                        </div>
                    </div>
                </div>
                <div class="project-ipad">
                    <div class="container">
                        <div class="container-medium clearfix">
                            <img alt="Design and Development" class="wow fadeInLeft"
                                 src="./images/event/ipad.png"
                                 style="visibility: hidden; animation-name: none;">
                            <div class="project-ipad-content wow fadeInRight"
                                 style="visibility: hidden; animation-name: none;">
                                <h4>Capelo is a top online luxury fashion destination with 4.000.000 visitors per month
                                    and worldwide shipping.</h4>
                                <p>The website features designer clothes, shoes and accessories for men and women from
                                    the most prestigious fashion designers such as Alexander McQueen, Balmain, Chloe,
                                    Dior, Dsquared, Dolce and Gabbana, Givenchy, Lanvin, Rick Owens, Roberto Cavalli,
                                    Saint Lauren. </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="project-other-thumb">
                    <div class="container">
                        <div class="container-medium clearfix">
                            <div class="project-other-thumb1 wow fadeInDown"
                                 style="visibility: hidden; animation-name: none;">
                                <img src="./images/event/other-thumb1.jpg">
                            </div>
                            <div class="project-other-thumb2 wow fadeInUp"
                                 style="visibility: hidden; animation-name: none;">
                                <img src="./images/event/other-thumb2.jpg">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="project-iphone wow fadeIn" style="visibility: hidden; animation-name: none;">
                    <img alt="Design and Development" src="./images/event/iphone.png">
                </div>
                <div class="project-slider wow fadeIn" style="visibility: hidden; animation-name: none;">
                    <div class="container">
                        <div class="container-medium clearfix">
                            <div class="bx-wrapper" style="max-width: 100%; margin: 0px auto;">
                                <div class="bx-viewport" aria-live="polite"
                                     style="width: 100%; overflow: hidden; position: relative; height: 696px;">
                                    <ul class="bx-slider"
                                        style="width: 1215%; position: relative; transition-duration: 0s; transform: translate3d(-1273px, 0px, 0px);">
                                        <li class="bx-clone"
                                            style="float: left; list-style: outside none none; position: relative; width: 1273px;"
                                            aria-hidden="true">
                                            <img class="wow fadeInUp" alt="Design and Development"
                                                 src="./images/event/slide1.jpg"
                                                 style="visibility: hidden; animation-name: none;">
                                        </li>
                                        <li style="float: left; list-style: outside none none; position: relative; width: 1273px;"
                                            aria-hidden="false">
                                            <img class="wow fadeInUp" alt="Design and Development"
                                                 src="./images/event/slide1.jpg"
                                                 style="visibility: hidden; animation-name: none;">
                                        </li>
                                        <li style="float: left; list-style: outside none none; position: relative; width: 1273px;"
                                            aria-hidden="true">
                                            <img ng-src="images/work/development/capelo/slide1.jpg"
                                                 class="wow fadeInUp" alt="Design and Development"
                                                 src="./images/event/slide1.jpg"
                                                 style="visibility: hidden; animation-name: none;">
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="project-nav">
                    <div class="container clearfix">
                        <div class="line btwe"></div>
                        <a class="prev-nav" title="Previous project" href="work/development/my-designer-wardrobe">Previous
                            <span>My Designer Wardrobe</span></a>
                        <a class="back-nav" title="Work" href="work/development">
                            <svg height="24px" width="24px" role="img">
                                <use xlink:href="images/svg_symbols.svg#nav-all" id="miu"></use>
                            </svg>
                        </a>
                        <a class="next-nav" title="Next project" href="work/development/3axes">Next
                            <span>3axes</span></a>
                        <div class="line bottom-line btwe"></div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <div class="sticky-proj-nav">
        <a class="sticky-prev-nav" title="Previous project" href="work/development/my-designer-wardrobe">
            <svg height="35px" width="80px" role="img">
                <use xlink:href="images/svg_symbols.svg#nav-arrow"></use>
            </svg>
        </a>
        <a class="sticky-list-nav" href="work/development">
            <svg height="24px" width="24px" role="img">
                <use xlink:href="images/svg_symbols.svg#nav-all" title="Work" id="miu"></use>
            </svg>
        </a>
        <a class="sticky-next-nav" title="Next project" href="work/development/3axes">
            <svg height="35px" width="80px" role="img">
                <use xlink:href="images/svg_symbols.svg#nav-arrow"></use>
            </svg>
        </a>
    </div>
    <div load-include="" url="includes/start-a-project.html">
        <a href="#" class="moveup" title="Top" style="display: none;">
            <svg height="35px" width="80px" role="img">
                <use xlink:href="images/svg/svg_symbols.svg#nav-arrow"></use>
            </svg>
        </a></div>
</section>

<%= _.template(require('./../includes/start-project.html'))([]) %>

<%= _.template(require('./../includes/footer.html'))([]) %>