<%= _.template(require('./../includes/header.html'))([]) %>

<%= _.template(require('./../includes/event-description.html'))([]) %>

<%= _.template(require('./../includes/event-services.html'))([]) %>

<%= _.template(require('./../includes/clients.html'))([]) %>

<%= _.template(require('./../includes/event-awards.html'))([]) %>

<%= _.template(require('./../includes/gallery.html'))([]) %>

<%= _.template(require('./../includes/start-project.html'))([]) %>

<%= _.template(require('./../includes/footer.html'))([]) %>